<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GITHUB_APP_CLIENT_ID</key>
	<string>Iv23lizKRBcvDCUY3RnV</string>
	<key>GITHUB_APP_CLIENT_SECRET</key>
	<string>0f871b4a0b01f55670049d9ba927e309b7927d13</string>
</dict>
</plist>
